.dark header {
    background: linear-gradient(45deg, #35009f, #5b08c8);
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
  }

  .dark .nova-tarefa {
    background-color: rgb(63, 63, 63);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
  }

  .dark .nova-tarefa input[type=text] {
    background-color: #2b2b2b;
    color: whitesmoke;
  }

  .dark #newTask img {
    filter: invert(1);
  }

  .dark .tarefa .not-done {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

  .dark .tarefa .descricao {
    background-color: rgb(63, 63, 63);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

  .dark .tarefa .nome, .dark .tarefa .timestamp {
    color: whitesmoke;
  }

  .dark #buttonDelete img, .dark #buttonEdit img {
    filter: invert(1);
  }

  .dark .titulo-terminadas {
    background-color: rgb(63, 63, 63);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    color: whitesmoke;
  }

  .dark .tarefas-terminadas .tarefa .descricao {
    background-color: #2e2e2e;
  }

